@import './fonts/fonts/fonts.css';
@import 'variables.scss';
@import 'custom.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Telkom123-Regular, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.theme-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}

.mute {
  color: #696969;
}
